/* universal styles */

html {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

h1 {
    font-size: 2.125rem;
    font-weight: bold;
}

h2 {
    font-size: 1.875rem;
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

h6 {
    font-size: 1rem;
    text-transform: all-uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
}

p {
    font-weight: normal;
}

strong {
    font-weight: bold;
}

a {
    font-weight: normal;
    text-decoration: none;
}

/* navigation bar */

nav {
    position: fixed;
    z-index: 100;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: white;
    border-bottom: 1px solid gray;
}


#logo {
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: 24px;
}

nav ul {
    padding-right: 24px;
}

li {
    display: inline;
    padding-left: 16px;
}

main, footer {
    position: relative;
    top: 64px;
}

@media only screen and (max-width: 585px) {
    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #mobile-nav ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 585px) {
    #mobile-nav {
        display: none;
    }

    #desktop-nav {
        display: flex;
        z-index: 100;
    }
}

/* headline section */
#start-here {
    display: flex;
    width: 100%;
    background-color: gray;
    align-items: center;
}

#start-here img {
    width: 60%;
    padding: 32px 24px;
}

#start-here-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 30%;
}

#start-here-text h1,h3,button {
    padding-bottom: 24px;
}

button {
    height: 32px;
    border: none;
    text-align: center;
    padding: 8px;
}

@media only screen and (max-width: 625px){
    #start-here {
        flex-direction: column;
        width: 100%;
    }
    #start-here img {
        width: 100%;
        padding: 0px 0px 32px 0px
    }
    #start-here-text {
        align-items: stretch;
        width: 100%;
        text-align: center;
    }

    #start-here-text h1, h3 {
        padding-left: 16px;
        padding-right: 16px;
    }
    button {
        margin: 24px 16px 32px 16px;
    }
}

/* Information section */
#info {
    display: flex;
    width: 100%;
}

.col60 {
    width: 60%;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#motivation img {
    width: auto;
}

#motivation h2 {
    padding-top: 32px;
    padding-bottom: 24px;
}

.attrib {
    padding-top: 24px;
}

#info-links {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 16px;
}

#info-links img {
    height: auto;
    padding: 16px;
}

.info-button {
    display: flex;
    padding-bottom: 16px;
}

.info-button h3 {
    padding-bottom: 0px;
}

.info-button p {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    line-height: 1.1;
}
.info-button-text {
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: center;
}

@media only screen and (min-width: 930px) {
    .info-button .mobile {
        display: none;
    }
}

@media only screen and (max-width: 930px) {
    #motivation {
        display: none;
        width: 0%;
    }

    #info-links {
        width: 100%;
        padding: 16px;
    }

    .info-button {
        flex-direction: column;
        align-items: stretch;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .info-button:first-child {
        padding-top: 0px;
    }

    .info-button:last-child {
        padding-bottom: 16px;
    }

    #info-links img {
        flex-grow: 1;
        padding: 0px;
    }
    .info-button .desktop {
        display: none;
    }

    #info-links img {
        width: 100%;
    }

    .info-button-text {
        width: 100%;
        align-items: stretch;
        padding-top: 32px;
    }

    .info-button-text h3 {
        padding-left: 16px;
    }

    .info-button-text p {
        padding-left: 16px;
    }

    .info-button-text a {
        padding-left: 16px;
    }
}

@media only screen and (max-width: 455px) {
    .info-button-text p {
        display: block;
    }
}
/* Courses section */

#start-learning {
    background-color: gray;
    width: 100%;
    text-align: center;
}

#start-learning h2 {
    padding-top: 32px;
}

#course-gallery-container {
    max-width: 100%;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 32px;
}

#course-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 32px;
    padding-top: 32px;
    justify-content: center;
}

.course {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
    flex-grow: 2;
}

.course img {
    height: auto;
}

.course-text {
    padding: 16px 16px 24px 16px;
    line-height: 1.25;
    text-align: left;
    background-color: white;
    flex-grow: 2;
}

@media only screen and (max-width: 455px) {
    .course img, h6, p {
        display: none;
    }

    #course-gallery {
        flex-direction: column;
        padding-top: 16px;
        gap: 8px;
    }

    .course {
        width: 100%;
    }

    #course-gallery-container {
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 32px;
    }

    #course-gallery h3 {
        padding: 0px;
    }
}

/* Thesis article */

#orientation, #guest-lecture, #fisma {
    background-color: gray;
}

#thesis {
    width: 100%;
    text-align: center;
}

#thesis h2 {
    padding: 32px;
}

#thesis-modules {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    text-align: left;
}

#thesis-col1 {
    display: flex;
    width: 60%;
    flex-direction: column;
    line-height: 1.2;
}

#thesis-col1 h3 {
    padding-top: 24px;
    padding-bottom: 8px;
}
video {
    width: 100%;
}

#thesis-col2 {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.info-button img {
    width: 35%;
    height: auto;
    padding: 16px;
}

@media only screen and (max-width: 930px) {
    #thesis h2 {
        padding-top: 32px;
        padding-bottom: 16px;
    }
    
    #thesis-col2 {
        display: none;
    }

    #thesis-col1 {
        width: 100%;
        padding: 0px;
    }

    #thesis-modules {
        padding: 0px 0px 24px 0px;
    }

    #thesis-detail {
        display: none;
    }
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-top: 1px solid gray;
}

@media only screen and (max-width: 455px) {
    
    footer p {
        display: block;
    }
    
    footer ul {
        display: none;
    }
}